<li>
    <div class="message-header">
        <span><%= user.user %></span>
        <span><%= user.added.toDateString() %></span>
    </div>
    <div class="message-text">
        <%= user.text %>
    </div>
</li>
