<li>
    <div class="message-header">
        <span><%= user.user %></span>
        <span><%= user.added.toDateString() %></span>
    </div>
    <div class="message-text">
        <%= user.text %>
    </div>
    <form action="/edit/<%= index %>" method="GET">
        <button type="submit">Edit</button>
    </form>
</li>